<!--HTML Landing page-->
<!DOCTYPE HTML>
<html>
	<head>
		<title> Bridge4Good Tech Demo </title>	
		<link href='/static/styles.css' type='text/css' rel='stylesheet'>
	</head>

	<body>
		<h1>Bridge4Good</h1>
		<h2>A digital platform that allows you to support homeless populations</h2>
		<p><b>Help homeless populations during the COVID-19 pandemic without leaving the comfort of your home, and know who and where you are helping. YOU have control over how your donations are used.</b></p>
		
		<br>

		<h2>How it Works</h2>
		<p><b>Together, we can build the bridge to provide help</b></p>
		<p>First, you donate items from Bridge4Good, paying for items a homeless shelter indicates they are in need of</p>
		<p>Next, goods will be directly purchased from small businesses, who will mail the goods to homeless shelters</p>
		<p>Finally, a homeless shelter receives products you have donated and will distribute the goods to homeless populations</p>
		
		<br>
		
		<p>
            We are running logistic regression analysis in the backend to 
			generate probabilistic insights in order to match donors with 
			homeless shelters and match shelters with a targeted group of donors 
			based on their location, the amount they are donating, their age, and their history of volunteer work.
		</p>
		
		<br>
		
		<div class='donor_match'>
			<h3>Donors:</h3>
			<form action="{{ url_for('donor') }}" method="POST">
				<div class="form">
					<input type="number" name="zipcode" placeholder="First 3 digits of zipcode">
					<input type="number" name="donation" placeholder="Donation">
					<input type="number" name="age" placeholder="Age">
					<input type="text" name="volunteer" placeholder="Volunteered in the past?">
					<button type="submit" class="submit-button" name="donor-shelter">Find Shelter!</button>
				</div>
			</form>
		</div>
		
		<br>
		
		<div class='shelter_match'>
			<h3>Shelters:</h3>
			<form action="{{ url_for('shelter') }}" method="POST">
				<div class="form">                
					<input type="text" name="shelter" placeholder="Shelter name">
                	<button type="submit" class="submit-button" name="donor-shelter">Find donors!</button>
            </form>
		</div>
    </body>
</html>