<!DOCTYPE HTML>
<html>
	<head>
		<title> Bridge4Good Tech Demo </title>	
	</head>

	<body>
		<h1> Bridge4Good Tech Demo </h1>
		<p>
            We are running logistic regression analysis in the backend to 
			generate probabilistic insights in order to match homeless shelters with 
			a targeted group of donors based on their location and the amount they are donating.
		</p>
		<p> You have been successfully matched with donors! </p>

		<div class='messages'>
			{% if message %}
				<p>{{ message }}</p>
			{% endif %}
		</div>
		
    </body>