<!DOCTYPE HTML>
<html>
	<head>
		<title> Bridge4Good Tech Demo </title>	
	</head>

	<body>
		<h1> Bridge4Good Tech Demo </h1>
		<p>
            We are running logistic regression analysis in the backend to 
			generate probabilistic insights in order to match homeless shelters with 
			a targeted group of donors based on their location and the amount they are donating.
		</p>

		<div class='matching'>
			<form method='POST'>
                <input type="number" placeholder="zipcode">
                <input type="number" placeholder="donation">
                <button type="submit">Find donors!</button>
            </form>
		</div>
		
    </body>
</html>