<!DOCTYPE HTML>
<html>
	<head>
		<title> Bridge4Good </title>	
		<link href= "../static/styles.css" rel='stylesheet' type='text/css'>
	</head>

	<body>
		<h1> Bridge4Good </h1>
		<p>
            We are running logistic regression analysis in the backend to 
			generate probabilistic insights in order to match homeless shelters with 
			a targeted group of donors based on their location, the amount they are donating, 
			their age, and their history of volunteer work.
		</p>
		<p> You have been successfully matched with donors! </p>

		<div class='messages'>
			{% if message %}
				<p>{{ message }}</p>
			{% endif %}
		</div>
		
    </body>